<div *ngIf="messageService.messages.length">

  
<tr><td><button type="button"
          class="clear"
          (click)="messageService.clear()">FB</button></td>
    <td><button type="button"
          class="clear"
          (click)="messageService.clear()">Blog</button></td>
    <td><button type="button"
          class="clear"
          (click)="messageService.clear()">O Nas</button></td>
    <td><button type="button"
          class="clear"
          (click)="messageService.clear()">Polityka Prywatności</button></td></tr>
<tr><td><button type="button"
          class="clear"
          (click)="messageService.clear()">Regulamin</button><td>
    <td><button type="button"
          class="clear"
          (click)="messageService.clear()">Kontakt</button></td>
    <td><button type="button"
          class="clear"
          (click)="messageService.clear()">FAQ</button></td></tr>                
          
          <!--  <div *ngFor='let message of messageService.messages'> {{message}} </div>-->

</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->